nav {
	background-color: #333;
	padding: 1rem;
	display: flex;
	align-items: center;
}

nav select {
	height: 2rem;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	margin-left: 0.7rem;
	border-radius: 0.3rem;
	text-align: center;
	padding-left: 0.7rem;
	padding-right: 0.7rem;
}

nav ul {
	list-style: none;
	display: flex;
}

nav ul li {
	margin-right: 0.9rem;
}

nav ul li a {
	color: white;
	padding: 0.7rem 0.9rem;
	text-decoration: none;
}

a.active,
a:hover {
	text-decoration: none;
	background-color: #bb39d08f;
	border-radius: 0.3rem;
}
